---
layout: default
---
<script src="https://unpkg.com/cornerstone-web-image-loader@2.1.1"></script>
<section class="section">
    <div class="container">
        <h1 class="title is-1">{{ page.title }}</h1>

        <div class="buttons">
            <button class="button set-tool-mode is-primary" data-action="Active">
                Active
            </button>
            <button class="button set-tool-mode" data-action="Passive">
                Passive
            </button>
            <button class="button set-tool-mode" data-action="Enabled">Enable</button>
            <button class="button set-tool-mode" data-action="Disabled">
                Disable
            </button>
        </div>

        <div class="cornerstone-element-wrapper">
            <div
                    id="cornerstone-element"
                    class="cornerstone-element"
                    data-index="0"
                    oncontextmenu="return false"
            ></div>
        </div>

        {{ content }}
    </div>
</section>

<script>


    const formatNumberLength = (num, length) => {
        let r = `${num}`;
        while (r.length < length) {
            r = `0${r}`;
        }
        return r;
    };

    cornerstoneWebImageLoader.configure({
        beforeSend: function (xhr) {
            // Add custom headers here (e.g. auth tokens)
            //xhr.setRequestHeader('x-auth-token', 'my auth token');
        }
    });


    const baseUrl =
        window.ENVIRONMENT === 'development'
            ? 'http://localhost:4000/'
            : 'https://tools.cornerstonejs.org/examples/';

    _initCornerstone();
    _initInterface();

    const element = document.querySelector('.cornerstone-element');

    // Init CornerstoneTools
    cornerstoneTools.init();
    cornerstone.enable(element);
    const toolName = '{{ page.toolName }}';
    const imageIds1 = [];
    const imageIds2 = [];

    cornerstoneWebImageLoader.external.cornerstone = cornerstone;

    for (let i = 1; i < 38; i++) {
        imageIds1.push(
            'wadouri:' + baseUrl + 'assets/dicom/bellona/chest_lung/' + i + '.dcm'
        );
    }

    for (let i = 1; i < 38; i++) {
        imageIds2.push(
            `http://localhost:8080/pngtest/${formatNumberLength(i, 6)}.png`
        );
    }

    const stack1 = {
        currentImageIdIndex: 0,
        imageIds: imageIds1,
    };

    const stack2 = {
        currentImageIdIndex: 0,
        imageIds: imageIds2,
    };

    element.tabIndex = 0;
    element.focus();

    const renderer = new cornerstoneTools.stackRenderers.FusionRenderer();

    renderer.findImageFn = (imageIds, targetImageId) => {
        //console.log(imageIds, targetImageId);
        return imageIds[0]
    };


    cornerstoneTools.addStackStateManager(element, ['stack']);
    cornerstoneTools.addToolState(element, 'stack', stack1);
    cornerstoneTools.addToolState(element, 'stack', stack2);
    cornerstoneTools.addToolState(element, 'stackRenderer', renderer);

    cornerstone.loadImage(imageIds1[0]).then(function (image1) {
        cornerstone.loadImage(imageIds2[0]).then(function (image2) {
            cornerstone.displayImage(element, image2);
        });

    });

    // Add the tool
    const apiTool = cornerstoneTools[`${toolName}Tool`];
    cornerstoneTools.addTool(apiTool);
    cornerstoneTools.setToolActive(toolName, {mouseButtonMask: 1});

    /***************************************************************************
     * UI & Boilerplate setup code
     **************************************************************************/

    /***
     *
     *
     */
    function _initCornerstone() {
        // Externals
        cornerstoneWADOImageLoader.external.cornerstone = cornerstone;
        cornerstoneWADOImageLoader.external.dicomParser = dicomParser;
        cornerstoneTools.external.cornerstoneMath = cornerstoneMath;
        cornerstoneTools.external.cornerstone = cornerstone;
        cornerstoneTools.external.Hammer = Hammer;

        // Image Loader
        const config = {
            webWorkerPath: `${baseUrl}assets/image-loader/cornerstoneWADOImageLoaderWebWorker.js`,
            taskConfiguration: {
                decodeTask: {
                    codecsPath: `${baseUrl}assets/image-loader/cornerstoneWADOImageLoaderCodecs.js`,
                },
            },
        };
        cornerstoneWADOImageLoader.webWorkerManager.initialize(config);
    }

    /***
     *
     *
     */
    function _initInterface() {
        const handleClick = function (evt) {
            const action = this.dataset.action;
            const options = {
                mouseButtonMask:
                    evt.buttons || convertMouseEventWhichToButtons(evt.which),
            };

            cornerstoneTools[`setTool${action}`](toolName, options);

            // Remove active style from all buttons
            const buttons = document.querySelectorAll('.set-tool-mode');
            buttons.forEach(btn => {
                btn.classList.remove('is-primary');
            });

            // Add active style to this button
            this.classList.add('is-primary');

            evt.preventDefault();
            evt.stopPropagation();
            evt.stopImmediatePropagation();
            return false;
        };

        const buttons = document.querySelectorAll('.set-tool-mode');

        buttons.forEach(btn => {
            btn.addEventListener('contextmenu', handleClick);
            btn.addEventListener('auxclick', handleClick);
            btn.addEventListener('click', handleClick);
        });
    }

    const convertMouseEventWhichToButtons = which => {
        switch (which) {
            // no button
            case 0:
                return 0;
            // left
            case 1:
                return 1;
            // middle
            case 2:
                return 4;
            // right
            case 3:
                return 2;
        }
        return 0;
    };

</script>
